<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes Funcionario</title>

    <style>
        table, th, td {
          border: 1px solid black;
        }
    </style>
</head>
<body>
    <h1>Detalhes Funcionario</h1>
    <a href="/">Menu</a>
    <a href="/funcionarios">Funcionarios</a>

    <br>
    <br>
    
    <b>Id Funcionario: </b> <span th:text="${funcionario.id}"></span>
    <br><b>Nome: </b> <span th:text="${funcionario.nome}"></span>
    <!-- <br><b>Editoras: </b> <a th:href="@{'/detalhesEditora/' + ${livro.editora?.id}}" ><span th:text="${livro.editora?.nome}"></span></a></span> -->
    <br>
    <br>

    <!-- Procedimentos -->
</body>
</html>